{
  "quoteProps": "as-needed",
  "singleQuote": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "semi": true,
  "jsxSingleQuote": false,
  "importOrder": ["^components/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
